body {
    background: url('img/sorcered-tree.jp') no-repeat;
    background-size: cover;
    font-family: Arial;
    
}

ul {    
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 300px;
    height: 40px;
    background-color: black; 
    opacity: .8;
}

ul li a {
    text-decoration: none;
}    

ul li a:hover {
    color: orange;
}
